[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Tolppa-apuri
Icon=/usr/share/icons/hicolor/90x90/apps/tolppaapuri.png
Exec=tolppaapuri
